<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Contact - StyleSphere</title>
</head>

<body>
    <section id="header">
        <a href="/"><img src="./images/logo.png" alt="logo" class="logo"></a>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="active" href="/contact">Contact</a></li>
                <li id="lg-bag"><a href="/cart"><i class="ri-shopping-bag-fill"></i></a></li>
                <a href="#" id="close"><i class="ri-close-large-fill"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="ri-shopping-bag-fill"></i></a>
            <i class="ri-menu-fill" id="bar"></i>
        </div>
    </section>
    <section id="page-header" class="about-header">
        <h2>#let's_talk</h2>
        <p>LEAVE A MESSAGE. We love to hear from you&excl;</p>
    </section>
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today.</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="ri-map-2-fill"></i>
                    <p>IFTM University, Lodhipur Rajpoot,Moradabad,<br> U.P. - 244102</p>
                </li>
                <li>
                    <i class="ri-mail-fill"></i>
                    <p>contact@gmail.com</p>
                </li>
                <li>
                    <i class="ri-phone-fill"></i>
                    <p>+91 89207 42376</p>
                </li>
                <li>
                    <i class="ri-time-fill"></i>
                    <p>Monday to Friday: 10:00 a.m. to 05:00 p.m.</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d545.1557736137405!2d78.64144563744425!3d28.819014100000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390b03126acadfdd%3A0xd9ac58e12692e3e9!2sDepartment%20of%20Computer%20Science%20BCA!5e1!3m2!1sen!2sin!4v1715087388876!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>
        <div class="people">
            <div>
                <img src="./images/people/1.png" alt="">
                <p><span>Adarsh Vishwakarma</span>Tech Raid Founder <br> Phone: +91 98748 89484 <br>
                    Email:contact@gmail.com</p>
            </div>
            <div>
                <img src="./images/people/2.png" alt="">
                <p><span>Aniket Vishwakarma</span>Senior Marketing Manager <br> Phone: +91 98748 89484 <br>
                    Email:contact@gmail.com</p>
            </div>
            <div>
                <img src="./images/people/3.png" alt="">
                <p><span>Rani Vishwakarma</span>HR<br> Phone: +91 98748 89484 <br> Email:contact@gmail.com</p>
            </div>
        </div>
    </section>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="./images/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> IFTM University, Lodhipur Rajpoot,
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Moradabad, U.P. - 244102
            </p>
            <p><strong>Phone:</strong> +91 89760 90654</p>
            <p><strong>Hours:</strong> 10:00 - 17:00, Mon - Fri</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-twitter-x-fill"></i>
                    <i class="ri-pinterest-fill"></i>
                    <i class="ri-youtube-fill"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms &amp; Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="./images/pay/app.jpg" alt="">
                <img src="./images/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="./images/pay/pay.png" alt="">
        </div>
        <div class="copyright">
            &copy; 2024, StyleSphere - Your Fashion Destination
        </div>
    </footer>
    <img src="./images/bottomrightlogo.png" alt="" id="bottomrightlogo">
    <script src="/javascripts/script.js"></script>
</body>

</html>