<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <title>Form</title>
</head>

<body>
    <div id="main">
        <h1>Your Message</h1>
        <div class="filedata">
            <a href="/">&lt; Go back to home</a>
            <h2><%= filename %></h2>
            <p><%= filedata %></p>
        </div>

    </div>
    <script src="/javascripts/script.js"></script>
</body>

</html>