<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Start</title>
</head>

<body>
    <div id="main">
        <h1>Registration Form.</h1>
        <form action="/submit" method="post">
            <input type="text" name="name" placeholder="Enter your name here......">
            <input type="email" name="email" placeholder="Enter your email here......">
            <input type="text" name="image" placeholder="Paste the image URL here...">
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- <script src="/javascripts/script.js"></script> -->
</body>

</html>