<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Start</title>
</head>

<body>
    <nav>
        <a href="/read">Registered Users&gt;</a>
    </nav>
    <div id="main">
        <h1>Registration Form</h1>
        <form action="/create" method="post">
            <input type="text" name="name" placeholder="Enter your name here......" required>
            <input type="email" name="email" placeholder="Enter your email here......" required>
            <input type="text" name="image" placeholder="Paste the image URL here..." required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- <script src="/javascripts/script.js"></script> -->
</body>

</html>